<!DOCTYPE html>
{%  extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.</title>
</head>
<body>
{%  block content %}
    <h1>software download links are</h1>
  For django installtion go to this link
    <a href="https://www.djangoproject.com/download/" >DJANGO </a>
    <br>
    For python installtion go to this link
    <a href="https://www.python.org/downloads/">PYTHON</a>
    <br>
    For mysql installtion go to this link
    <a href="https://www.mysql.com/downloads/">MYSQL</a>
    <br>
{% endblock %}


</body>
</html>